/* common style  */
body{
  font-family: 'lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
/* nav related style  */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.web-title{
  font-size: 45px;

font-weight: 800;
}
.aaa{
  color:#FD6E0A;
}
nav > ul{
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.primary-button{
  background-color:#FD6E0A ;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px ;
}