/* common style  */
body{
  font-family: 'lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
/* nav related style  */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}
.web-title{
  font-size: 45px;

font-weight: 800;
}
.aaa{
  color:#FD6E0A;
}
nav > ul{
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.primary-button{
  background-color:#FD6E0A ;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px ;
}
/* header style section */
.header{
  background: #FFF8F3;
  background-image:url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.baner{
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-pictuer{
  width: 400px;
  border-radius: 50%;
}
.iam{
font-size: 45px;
color: #474747;
margin-bottom: 0px;
}
.main-heading{
  color: var(--dark-01, #181818);
font-family: Open Sans;
font-size: 85px;
font-style: normal;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;

  
}
.my-self{
  margin-bottom: 20px;
}
.primary-button{
  margin-right: 15px;
  margin-top: 15px;
}
.hi{
  max-width: 500px;
}
/* main section style  */

/* about section  */
.about{
  padding: 130px;
  border-radius: 10px;
  background : #f5e5db;
  margin: 130px 286px ;

}
.section-title{
  color:  #181818;
text-align: center;

font-size: 25px;

font-weight: 700;

}
.section-details{
   color: var #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;

}
.abouth-container{
  display: flex;
  justify-content: space-around;
  
}
.about11{
  text-align: center;
}
