/* common style  */
body{
  font-family: 'lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
/* nav related style  */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}
.web-title{
  font-size: 45px;

font-weight: 800;
}
.aaa{
  color:#FD6E0A;
}
nav > ul{
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.primary-button{
  background-color:#FD6E0A ;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px ;
}
/* header style section */
.header{
  background: #FFF8F3;
  background-image:url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.baner{
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-pictuer{
  width: 400px;
  border-radius: 50%;
}
.iam{
font-size: 45px;
color: #474747;
margin-bottom: 0px;
}
.main-heading{
  color: var(--dark-01, #181818);
font-family: Open Sans;
font-size: 85px;
font-style: normal;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;

  
}
.my-self{
  margin-bottom: 20px;
}
.primary-button{
  margin-right: 15px;
  margin-top: 15px;
}
.hi{
  max-width: 500px;
}
/* main section style  */

/* about section  */
.about{
  padding: 130px;
  border-radius: 10px;
  background : #f5e5db;
  margin: 130px 286px ;

}
.section-title{
  color:  #181818;
text-align: center;

font-size: 25px;

font-weight: 700;

}
.section-details{
   color: var #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;

}
.abouth-container{
  display: flex;
  justify-content: space-around;
  
}
.about11{
  text-align: center;
}
/* what i do section  */
#rajwhatido{
  padding: 30px 150px;
}
/* skill related style  */
.skill-container{
  display: flex;
  justify-content: space-around;
  
}
.skill{
  padding: 30px;
  gap: 24px;
  border: 1px solid #f5e5db ;
  margin: 30px;
  box-shadow: 10px 10px 20px #f5e5db;
}
/* my resume style  */
.resume-container1{
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.resume-colam-tittke{
  color:  #474747;
font-family: Open Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.educatione-resume{
  margin: 50px;
}
.resume-colam{
  margin: 50px;
}
.primary-button1{
 text-align: center;
}
.section-title{
  margin: 150px;
}
/* footer style */
footer{
  display: flex;
  background-color: #FFF8F3;
  margin-top: 100px;
  padding: 130px 230px;
  justify-content: space-between;
  text-align: center;
 
}
.footer-colam{
  width: 50%;
   padding-right: 80px;
}
.contract input[type="text"], .contract input[type="email"], textarea {
  display: block;
  padding: 10px 18px;
  margin: 20px; 
  color: #757575;
  border-radius: 5px;
  background: #FFF8F3;
  width: 100%;
 }
.social-pic a{
  padding-right: 20px;
}